<h1>Social Media Contacts</h1>

<h3>Search
<%= form_for :search, url: "/" do |f| %>
  <%= f.text_field :term %>
  <%= f.submit "Update results" %>
<% end  %>
</h3>
Records shown: <%= @contacts.count %>
<% if @searched_term.present? %>
  <%= "(Searched term: '#{@searched_term}')" %> <%= link_to "clear search", "/" %>
<% end %>

<br><br>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>City</th>
      <th>Country</th>
      <th>Job History</th>
    </tr>
  </thead>
  <% @contacts.each_with_index do |contact, index| %>
    <tbody>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= contact["name"] %></td>
        <td><%= contact["email"] %></td>
        <td><%= contact["company"] %></td>
        <td><%= contact["city"] %></td>
        <td><%= contact["country"] %></td>
        <td><%= contact["job_history"].join(', ') %></td>
      </tr>
    </tbody>
  <% end %>
</table>
